<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>[% name %]</title>

  <!-- ExtJS -->
  <!-- base css -->
  <link rel="stylesheet" type="text/css" href="./ext/resources/css/ext-all.css">
  [%- IF theme %]
  <link rel="stylesheet" type="text/css" href="./extjs/resources/css/[% theme %].css" />
  [%- END %]
  <!-- overrides to base css -->
  <link rel="stylesheet" type="text/css" href="./css/[% css_file_name %].css">

  <!-- base library -->
  <script type="text/javascript" src="./ext/adapter/ext/ext-base.js"></script>
  <script type="text/javascript" src="./ext/ext-all-debug.js"></script>
  <!-- overrides to base library -->
  <!-- extensions -->
  <!-- page specific -->
  <script type="text/javascript" src="./js/[% application_class %].js"></script>
</head>
<body></body>
</html>
