
=head1 OPTIONS

=over 4

=item --help -h -?

Show usage info.

=item --man

Show the man page.

[% FOR opt IN options;
   names = opt.match('(\w+)(?:[|!+]|[=:][siof]|$)?', 1);
-%]
=item [% "--$name " FOR name IN names %]

[% END -%]
=back
