#!perl -T

use strict;
use warnings;

use Test::More qw/no_plan/;
[%- IF uses.size %]
    [%- FOREACH package IN uses %]
use [% package %];
    [%- END %]
[%- END %]
[%- IF uses_ok.size %]

BEGIN {
    [%- FOREACH package IN uses_ok %]
    use_ok '[% package %]';
    [%- END %]
}
[%- END %]

# TODO : Test goes here, ok?
